extends ../templates/base

block content
    div(class="page-inner page-inner--w2 page-inner--top")
        div(class="page-text")
            h1 О ресторане
            p Встреча Запада и Востока, буддийская гармония и умение наслаждаться жизнью. Паназиатская и европейская кухни. Только в «Китайские истории» вы можете отведать утку по-пекински, карпа в кисло-сладком соусе, спринг-роллы с разнообразными начинками, приготовленные по специальным рецептам шеф-повара Ли Сянцай – этнического китайца. 
            p Живые морепродукты: камчатские крабы, приморские морские гребешки, тихоокеанские мидии, вонголе, устрицы. 
            p Не отказывайте себе в удовольствии!

    div(class="page-inner page-inner--w0 page-inner--top")
        div(class="page-text")
            div(class="content-slider-container")
                div(class="content-slider")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.jpg")
                div(class="content-slider-arrows")

    div(class="page-inner page-inner--w2")
        div(class="page-text")
            p В помещении два зала. В одном расположены магазин с большим выбором кофе и приспособлений для заваривания, барная стойка и несколько столов. В другом пока стоят только столы, но скоро в нем установят ростер собственной разработки и будут обжаривать микролоты зерна. В будущем создатели планируют регулярно организовывать мастер-классы и каппинги. Например, в эту субботу весь день будут угощать фильтр-кофе сорта Panama Caturra и продавать его со скидкой в 10%.

    div(class="page-inner page-inner--max")
        div(class="page-text")
            div(class="content-slider-container content-slider-container--big")
                div(class="content-slider content-slider--big")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_3.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/big_slider_4.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_2.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/big_slider_2.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/big_slider_3.jpg")
                    div(class="content-slider-item")
                        img(src="../dummy/big_slider_1.jpg")
                div(class="content-slider-arrows content-slider-arrows--max")

    div(class="page-inner page-inner--w2")
        div(class="page-text")
            p Ресторан располагается в старинном особняке, в помещении два этажа. В конце апреля во внутреннем дворе заработает веранда. В оформлении интерьера соединили скандинавский и модернистский стили: белые кирпичные своды сочетаются с мебелью в стиле 60-х. Бизнес-ланчей нет, но с 12:00 до 16:00 на все меню действует скидка в 30 %.
