extends ../templates/base

block content
    div(class="page-inner page-inner--w2 page-inner--top")
        div(class="page-text")
            h1 О ресторане
            p Встреча Запада и Востока, буддийская гармония и умение наслаждаться жизнью. Паназиатская и европейская кухни. Только в «Китайские истории» вы можете отведать утку по-пекински, карпа в кисло-сладком соусе, спринг-роллы с разнообразными начинками, приготовленные по специальным рецептам шеф-повара Ли Сянцай – этнического китайца. 
            p Живые морепродукты: камчатские крабы, приморские морские гребешки, тихоокеанские мидии, вонголе, устрицы. 
            p Не отказывайте себе в удовольствии!

    div(class="page-inner page-inner--w0 page-inner--top")
        div(class="page-text")
            div(class="content-slider-container")
                div(class="content-slider")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.png")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.png")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.png")
                    div(class="content-slider-item")
                        img(src="../dummy/about_slider_1.png")
                div(class="content-slider-arrows")
