extends ../templates/base

block content
    div(class="page-inner page-inner--w4 page-inner--top")
        div(class="form-success")
            div(class="page-text")
                h1 Спасиибо за заявку!
                p Дождитесь подтверждения брони от нашего менеджера.
                p Мы перезвоним вам в течение 15 минут.
            
                div(class="form-success-social")
                    p Давайте дружить в социальных сетях:
                    div(class="form-success-social-list")
                        a(href="#", target="_blank", class="link form-success-social-item")
                            include ../../prod/svg/fb.svg 
                        a(href="#", target="_blank", class="link form-success-social-item")
                            include ../../prod/svg/inst.svg 
                        a(href="#", target="_blank", class="link form-success-social-item")
                            include ../../prod/svg/youtube.svg 
                        a(href="#", target="_blank", class="link form-success-social-item")
                            include ../../prod/svg/owl.svg 
