extends ../templates/base

block content
    div(class="page-inner page-inner--w4")
        div(class="presentation")
            div(class="page-text")
                div(class="presentation-logo")
                    include ../../prod/svg/logo_white.svg 
                h1(class="presentation-title") Ресторан СовреMенной китайской кухни
