extends ../templates/base

block content
    div(class="page-inner page-inner--w2 page-inner--top")
        div(class="page-text")
            h1 Меню
            p В меню — блюда, которые обычно готовят на юге Китая: утка, курица, супы, пельмени сяо-лун-бао и лапша. Недавно в меню сети появились новые блюда, например закуска из свежей черемши, маринованные баклажаны, суп с бараниной и дайконом. 
    
    div(class="page-inner page-inner page-inner--w1")
        div(class="menu")
            a(href="#", class="link menu-item")
                img(src="../dummy/menu.jpg", class="menu-img")
                div(class="menu-name") Меню ресторана
            a(href="#", class="link menu-item")
                img(src="../dummy/map_bar.jpg", class="menu-img")
                div(class="menu-name") карта бара
            a(href="#", class="link menu-item")
                img(src="../dummy/business_lunches.jpg", class="menu-img")
                div(class="menu-name") бизнес-ланчи
        
