extends ../templates/base

block content
    div(class="page-inner page-inner--w2 page-inner--top")
        div(class="page-text")
            h1 Каждый 10-ый бизнес-ланч в подарок!
            div(class="text-date") 2017-10-10
            p Témoignage de la vie parisienne que le monde entier nous envie, le Café du Trocadéro est, à l’image de Paris qui ne cesse d’innover et de se réinterpréter, un lieu de convivialité et de douceur de vivre où chacun trouve sa place. Il appartient à cette nouvelle génération de brasserie chic et contemporaine, offrant qualité de service et décor au charme fou !
            div(class="content-slider-container")
                div(class="content-slider")
                    div(class="content-slider-item")
                        img(src="../dummy/news_detail_slider.png")
                    div(class="content-slider-item")
                        img(src="../dummy/news_detail_slider.png")
                    div(class="content-slider-item")
                        img(src="../dummy/news_detail_slider.png")
                    div(class="content-slider-item")
                        img(src="../dummy/news_detail_slider.png")
                div(class="content-slider-arrows")
            p L’entroterra toscano e i dintorni della città offrono attività per tutti i gusti. Passeggiate e trekking nello stupendo Parco della Maremma, relax e benessere alle Terme di Saturnia, o vita mondana e divertimento a Porto Ercole o Santo Stefano. Non resta che scegliere!
            a(href="news.html", class="link link-black link--black-bottom backward") Назад к новостям
            
