extends ../templates/base

block content
    div(class="page-inner page-inner--w2 page-inner--top")
        div(class="page-text")
            h1 Команда
            p Témoignage de la vie parisienne que le monde entier nous envie, le Café du Trocadéro est, à l’image de Paris qui ne cesse d’innover et de se réinterpréter, un lieu de convivialité et de douceur de vivre où chacun trouve sa place. Il appartient à cette nouvelle génération de brasserie chic et contemporaine, offrant qualité de service et décor au charme fou !
    
    div(class="page-inner page-inner--w1")
        div(class="page-text")
            figure
                img(src="../dummy/team.png", alt="team")

    div(class="page-inner page-inner--w2")
        div(class="page-text")
            p A toute heure, le temps d’un petit déjeuner, brunch, déjeuner, tea-time cocktail ou diner, le panorama prend une dimension incomparable depuis la salle intérieure, comme sur la vaste terrasse.
            p De jour comme de nuit, le spectacle est magique.

    div(class="page-inner page-inner--w1")
        div(class="chefs")
            div(class="chefs-holder")
                div(class="chefs-container-img")
                    img(src="../dummy/jeremiah.png", alt="Шеф-повар")
                div(class="chefs-container-info")
                    div(class="chefs-name") Джереми Кун
                    div(class="chefs-position") Шеф-повар ресторана
                    div(class="chefs-desc") Sensibles à la proximité, à la tradition, aux valeurs du terroir, les maîtres des lieux inventent une nouvelle génération de Brasserie Contemporaine. Vivre avec son temps, et accueillir les clients comme dans une maison de famille.
            
            div(class="chefs-holder chefs-holder--reverse")
                div(class="chefs-container-img")
                    img(src="../dummy/victor.png", alt="Су-шеф")
                div(class="chefs-container-info")
                    div(class="chefs-name") Виктор Тухин
                    div(class="chefs-position") су-шеф ресторана
                    div(class="chefs-desc") Oggi l’edificio è collegato con l’adiacente Palazzo Pretorio, sempre del XV secolo. La trasforma tettonica, ha consentito di conservare l’originalità degli ambienti con soffitti affrescati alti e luminosi, aggiungendo elementi stilistici moderni e di design.
            
            div(class="chefs-holder")
                div(class="chefs-container-img")
                    img(src="../dummy/vladimir.png", alt="Су-шеф")
                div(class="chefs-container-info")
                    div(class="chefs-name") Владимир попов
                    div(class="chefs-position") су-шеф ресторана
                    div(class="chefs-desc") Toute la richesse de produits nobles et frais sur une carte qui revisite les grands classiques de la brasserie, au rythme des saisons.
                
            
