include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description,
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website",
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/plugins/slick.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/lazy-modal.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/owl.carousel.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".responsive.css",
				noCache: true
			}
		])
		
	body(itemscope, itemtype="http://schema.org/WebPage", class=page.code+"-page")
		if page.code == "home_video"
			div(class="background-video")                                                                          
				iframe(frameborder="0", height="100%", width="100%", src="http://www.youtube.com/embed/p64fMSsgqS0?&autoplay=1&loop=1&rel=0&showinfo=0&&playlist=p64fMSsgqS0&modestbranding=1&controls=0&showinfo=0", allow="autoplay; encrypted-media", allowfullscreen)
		div(class="background-img", style="background-image:url(../dummy/main.jpg)")

		div(class="page")
			header(class="page-header page-header--main", itemscope, itemtype="http://schema.org/WPHeader")
				div(class="header-holder  header-holder--fixed")
					div(class="header-burger", class=((page.code === "home" || page.code === "home_video") || page.code === "home_video") ? "header-burger--white" : "header-burger--red")
						span(class="header-burger-inner")
						
					div(class="header-logo", itemscope, itemtype="http://schema.org/Organization")
						a(href="home.html", class="header-logo-home", itemprop="url")
							include ../../prod/svg/logo_red.svg
						span(class="header-logo-title") Ресторан современной китайской кухни
							
				div(class="header-holder")
					a(href="form-order.html", class="link button open-form", data-lazymodal, class=(page.code === "home" || page.code === "home_video") ? "button--white-left header-booking" : "button--red-left header-booking") забронировать стол
					div(class="lang-bar", class=(page.code === "home" || page.code === "home_video") ? "lang-bar--white" : "lang-bar--red")
						a(href="#", class="link lang-bar-item delimiter") ru
						a(href="#", class="link lang-bar-item delimiter") en
						a(href="#", class="link lang-bar-item") cn
						
						
					div(class="header-logo header-logo--horizotal", itemscope, itemtype="http://schema.org/Organization")
						a(href="home.html", class="header-logo-home", itemprop="url")
							include ../../prod/svg/logo_horizontal.svg
						span(class="header-logo-title") Ресторан современной китайской кухни

			main(class="page-content")
				block content
		
		div(class="mobile-menu")
			div(class="mobile-menu-background")
			div(class="mobile-menu-container")
				div(class="page-header")
					div(class="header-holder")
	
					div(class="header-holder")
						a(href="form-order.html", data-lazymodal, class="link button button--white-left header-booking open-form") забронировать стол
						div(class="lang-bar lang-bar--white")
							a(href="#", class="link lang-bar-item delimiter") ru
							a(href="#", class="link lang-bar-item delimiter") en
							a(href="#", class="link lang-bar-item") cn
				
				div(class="mobile-menu-container-holder")
					+menu({
						rootClass: "mobile-menu-holder",
						items: [
							{
								name: "О ресторане",
								href: "about.html",
								linkClass: "link link--white link--white-bottom",
								title:"",
							}, {
								name: "КОМАНДА",
								href: "team.html",
								linkClass: "link link--white link--white-bottom",
								title:"",
							}, {
								name: "Меню",
								href: "menu.html",
								linkClass: "link link--white link--white-bottom",
								title:"",
							}, {
								name: "Новости",
								href: "news.html",
								linkClass: "link link--white link--white-bottom",
								title:"",
							}, {
								name: "Контакты",
								href: "contacts.html",
								linkClass: "link link--white link--white-bottom",
								title:"",
							}, 
						]
					})
					
				div(class="page-footer", itemscope, itemtype="http://schema.org/Organization")
					div(class="footer-holder", itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
						a(href="yandexnavi://build_route_on_map?lat_to=43.11545057450592&lon_to=131.90252549999985", class="link link-black footer-location footer-location--white", itemprop="addressLocality") Владивосток
						a(href="yandexnavi://build_route_on_map?lat_to=43.11545057450592&lon_to=131.90252549999985", class="link link-black footer-location footer-location--white", itemprop="streetAddress") ул. Светланская, 83,
						a(href="tel:+7423255055", class="link footer-mobile link--white footer-mobile") +7 423 255 0 55
						
					div(class="footer-holder")
						div(class="footer-social")
							a(href="#", target="_blank", class="link footer-social-item")
								include ../../prod/svg/fb.svg 
							a(href="#", target="_blank", class="link footer-social-item")
								include ../../prod/svg/inst.svg 
							a(href="#", target="_blank", class="link footer-social-item")
								include ../../prod/svg/youtube.svg 
							a(href="#", target="_blank", class="link footer-social-item")
								include ../../prod/svg/owl.svg 
	
		footer(class="page-footer page-footer--main", itemscope, itemtype="http://schema.org/WPFooter")
			div(class="footer-holder")
				a(href="yandexnavi://build_route_on_map?lat_to=43.11545057450592&lon_to=131.90252549999985", class="link footer-location", class=(page.code === "home" || page.code === "home_video") ? "footer-location--white" : "footer-location--red") Владивосток
				a(href="yandexnavi://build_route_on_map?lat_to=43.11545057450592&lon_to=131.90252549999985", class="link footer-location", class=(page.code === "home" || page.code === "home_video") ? "footer-location--white" : "footer-location--red") ул. Светланская, 83,
				a(href="tel:+7423255055", class="link footer-mobile", class=(page.code === "home" || page.code === "home_video") ? "link--white footer-mobile" : "link--red footer-mobile") +7 423 255 0 55
				
			div(class="footer-holder")
				div(class="footer-social", class=(page.code === "home" || page.code === "home_video") ? "" : "footer-social--red")
					a(href="#", target="_blank", class="link footer-social-item")
						include ../../prod/svg/fb.svg 
					a(href="#", target="_blank", class="link footer-social-item")
						include ../../prod/svg/inst.svg 
					a(href="#", target="_blank", class="link footer-social-item")
						include ../../prod/svg/youtube.svg 
					a(href="#", target="_blank", class="link footer-social-item")
						include ../../prod/svg/owl.svg 


		+addJS([
			{
				src: "../js/jquery-3.2.1.min.js"
			}, {
				src: "../js/plugins/jcf.js"
			}, {
				src: "../js/plugins/jcf.scrollable.js"
			}, {
				src: "../js/plugins/jcf.select.js"
			}, {
				src: "../js/plugins/jcf.number.js"
			}, {	
				src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOtcx9Sm_hunFMGzh4eqe_XRkFUYMWIao&sensor=true"
			}, {
				src: "../js/plugins/slick.min.js"
			}, {
				src: "../js/plugins/jquery.mask.min.js"
			}, {
				src: "../js/plugins/jquery.validate.min.js"
			}, {
				src: "../js/plugins/jquery.lazy-modal.js"
			}, {
				src: "../js/plugins/owl.carousel.min.js"
			}, {
				src: "../js/" + info.code + ".js"
			}
		])
