/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)
$colorred = #BD1D1D

/* fonts */
@font-face
	font-family "NarrowMedium"
	src url("../fonts/Narrow.woff") format("woff")

@font-face
	font-family "PTM55F"
	src url("../fonts/PTM55F.woff") format("woff")

@font-face
	font-family "PTMonoBold"
	src url("../fonts/PTMono-Bold-01.woff") format("woff")

@font-face
	font-family "PTMonoRegular"
	src url("../fonts/PTMono-Regular-02.woff") format("woff")

@font-face
	font-family "RistrettoProExtraLight"
	src url("../fonts/RistrettoPro-ExtraLight.woff") format("woff")

@font-face
	font-family "RistrettoProRegular"
	src url("../fonts/Ristrettopro-regular.woff") format("woff")

@font-face
	font-family "RistrettoProMedium"
	src url("../fonts/RistrettoPro-Medium.woff") format("woff")

@font-face
	font-family "RistrettoProSemiBold"
	src url("../fonts/RistrettoPro-SemiBold.woff") format("woff")
/* //fonts */

/** animation **/
@keyframes beforeBurger
	0%
		top 0px
		transform rotate(0)
	25%
		top 9px
		transform rotate(0)
	75%
		top 9px
		transform rotate(45deg)
	100%
		top 9px
		transform rotate(45deg)

@keyframes afterBurger
	0%
		bottom 0px
		transform rotate(0)
	25%
		bottom 9px
		transform rotate(0)
	75%
		bottom 9px
		transform rotate(-45deg)
	100%
		bottom 9px
		transform rotate(-45deg)

@keyframes beforeBurgerInit
	0%
		top 9px
		transform rotate(45deg)
	25%
		top 9px
		transform rotate(0deg)
	75%
		top 0px
		transform rotate(0deg)
	100%
		top 0px
		transform rotate(0deg)

@keyframes afterBurgerInit
	0%
		bottom 9px
		transform rotate(45deg)
	25%
		bottom 9px
		transform rotate(0deg)
	75%
		bottom 0px
		transform rotate(0deg)
	100%
		bottom 0px
		transform rotate(0deg)
/** //animation **/

html
	height 100%
body
	position relative
	width 100%
	min-height 100%
	line-height 1
	cursor default
	font-family "PTMonoRegular"


	&.open-menu
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		overflow hidden
		height 100%
		-webkit-overflow-scrolling touch
/*** //Settings ***/


/*** main style ***/
.page
	display block
	width 100%

	min-height 100%

	margin 0 auto

	margin-bottom 155px

.page-inner
	position relative
	display block
	margin 0 auto
	box-sizing border-box

	&--w0
		max-width 1300px
		padding 0 80px
		box-sizing border-box

	&--w1
		max-width 1150px

	&--w2
		max-width 900px

	&--w3
		max-width 780px

	&--w4
		max-width 660px

	&--max
		min-width 100%

	&--top
		margin-top 50px

/** button and link **/
.link
	text-decoration none
	color #000

.link--red
	color $colorred

.link--white
	color #fff

.link--red-bottom
	display inline
	box-shadow inset 0 1px #fff, inset 0 -1px $colorred
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px #fff, inset 0 -1px transparent

.link--red-bottom-reverse
	display inline
	box-shadow inset 0 1px #fff, inset 0 -1px transparent
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px #fff, inset 0 -1px $colorred

.link--white-bottom
	display inline
	box-shadow inset 0 1px transparent, inset 0 -1px transparent
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px transparent, inset 0 -1px #fff

.link--black-bottom
	display inline
	box-shadow inset 0 1px #fff, inset 0 -1px #000
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px #fff, inset 0 -1px transparent

.link--black-bottom-reverse
	display inline
	box-shadow inset 0 1px #fff, inset 0 -1px transparent
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px #fff, inset 0 -1px #000

.button
	position relative
	display block
	padding 5px

	box-sizing border-box
	text-align center

	transition opacity 0.3s $transitionAnimation, transform 0.5s $transitionAnimation, border 0.2s $transitionAnimation, background 0.3s $transitionAnimation

	border-radius 5px

	&--white
		border 2px solid #fff
		background transparent
		color #fff

		&:hover
			border-color $colorred
			background $colorred

	&--white-left
		border 2px solid #fff
		background transparent
		color #fff
		overflow hidden

		&:before
			content ""
			position absolute
			top 0
			left 0
			bottom 0

			display block
			width 100%
			height 100%
			background #fff

			transform translateX(-100%)

			transition transform 0.4s $transitionAnimation

			z-index -1

		&:hover
			border 2px solid #fff
			color $colorred

			&:before
				transform translateX(0)

	&--red
		border 2px solid $colorred
		background: transparent
		color $colorred

		&:hover
			border-color #fff
			background #fff

	&--red-left
		border 2px solid $colorred
		background transparent
		color $colorred
		overflow hidden

		&:before
			content ""
			position absolute
			top 0
			left 0
			bottom 0

			display block
			width 100%
			height 100%
			background $colorred

			transform translateX(-100%)

			transition transform 0.4s $transitionAnimation

			z-index -1

		&:hover
			border 2px solid $colorred
			color #fff

			&:before
				transform translateX(0)


/** //button and link **/

/** form **/
/** //form **/

/** header and footer **/
.page-header
	display flex
	justify-content space-between

	width 100%

	padding 25px 35px 90px 30px
	box-sizing border-box

.header-holder
	position relative
	z-index 200

	&--fixed
		z-index 501

.header-burger
	position relative
	display block
	width 30px
	height 20px

	cursor pointer

	transition transform 0.3s $transitionAnimation

	.header-burger-inner
		position absolute
		top 8.5px
		left 0
		right 0

		display block
		width 100%
		height 2px
		transition background-color 0.3s $transitionAnimation, transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&:before
		content ""

		position absolute
		top 0
		left 0
		right 0

		display block
		width 100%
		height 2px

		transition background-color 0.3s $transitionAnimation

	&:after
		content ""

		position absolute
		left 0
		bottom 0
		right 0

		display block
		width 100%
		height 2px

		transition background-color 0.3s $transitionAnimation

	&--white
		&:before
		&:after
		.header-burger-inner
			background-color #fff

	&--red
		&:before
		&:after
		.header-burger-inner
			background-color $colorred

	&:hover
		&:before
		&:after
		.header-burger-inner
			background-color $colorred

	&.active
		z-index 100

		&:before
			animation beforeBurger 0.5s $transitionAnimation forwards

		&:after
			animation afterBurger 0.5s $transitionAnimation forwards

		.header-burger-inner
			transform scale(0)

		&--hover
			&:hover
				transform rotate(90deg)

				&:before
				&:after
				.header-burger-inner
					background-color #fff
	&.close
		&:before
			animation beforeBurgerInit 0.5s $transitionAnimation forwards

		&:after
			animation afterBurgerInit 0.5s $transitionAnimation forwards

		.header-burger-inner
			transform scale(1)

.header-logo
	position absolute
	top 45px
	left 0

	.header-logo-home
		display block
		width 130px
		margin-bottom 17px

		svg
			display block
			width 100%
			height 100%

	.header-logo-title
		padding-right 20px
		box-sizing border-box

		font-size 24px
		font-family "RistrettoProRegular"

		color $colorred

.header-booking
	width 100%
	max-width 210px
	height 45px
	padding 11px 19px

	margin-bottom 20px

	text-transform uppercase

	font-family "RistrettoProRegular"

	font-size 22px

	letter-spacing 2.5px

	z-index 100

.lang-bar
	text-align center

	.lang-bar-item
		display inline-block
		margin-right 10px

		vertical-align top

		box-sizing border-box

		font-size 22px
		font-family "RistrettoProRegular"

		transition color 0.3s $transitionAnimation

		&.delimiter
			position relative
			padding-right 18px

			&:after
				content "/"
				position absolute
				right 0
				top 0
				bottom 0

				font-size 22px

	&--white
		.lang-bar-item
			color #fff

			&:hover
				color $colorred

			&.delimiter
				&:after
					color #fff

	&--red
		.lang-bar-item
			color $colorred

			&:hover
				font-weight 600

			&.delimiter
				&:after
					font-weight 300
					color $colorred

.page-footer
	display flex
	justify-content space-between
	align-content center

	width 100%

	padding 0 35px 35px 30px
	box-sizing border-box

	.footer-location
		display inline-block
		padding-right 5px
		box-sizing border-box
		vertical-align top

		font-size 22px
		font-family "RistrettoProRegular"

		text-transform uppercase

		letter-spacing 2.5px

		&--red
			color $colorred

		&--white
			color #fff

	.footer-mobile
		font-size 22px
		font-family "RistrettoProRegular"
		letter-spacing 2.5px
		&--red
			color $colorred

		&--white
			color #fff

	.footer-social
		display flex
		justify-content space-between

		.footer-social-item
			display block
			margin-right 15px
			max-width 40px
			height 25px

			&:last-child
				margin-right 0

			svg
				display block
				width 100%
				height 100%

				path
					transition fill 0.3s $transitionAnimation

			&:hover
				svg
					path:not([fill=none])
						fill $colorred

		&--red
			.footer-social-item
				svg
					path:not([fill=none])
						fill $colorred

				&:hover
					svg
						path:not([fill=none])
							fill #000
.footer-holder
	position relative
	z-index 200

/** //header and footer **/

/** page text **/
.page-text
	h1
		margin-bottom 50px

		line-height 1
		font-family "NarrowMedium"
		font-size 72px

		letter-spacing 4px

		text-transform uppercase

		color $colorred

	p
		line-height 28px
		margin-bottom 15px
		font-size 18px
		max-width 660px

	.content-slider-container
		position relative
		margin-top 80px
		margin-bottom 80px

		.content-slider-arrows
			position absolute
			top 50%
			transform translateY(-50%)
			display block
			width 100%

			.slick-arrow
				position absolute

				display block
				width 35px
				height 35px

				padding 5px
				box-sizing border-box

				background-color #fff

				border 2px solid $colorred

				border-radius 5px

				transition background 0.3s $transitionAnimation

				cursor pointer

				&-prev
					left -60px

				&-next
					right -60px

				svg
					display block
					width 100%
					height 100%

					path
						transition fill 0.3s $transitionAnimation

				&:hover
					background $colorred

					svg
						path
							fill #fff

			&--max
				.slick-arrow-prev
					left 50px
				.slick-arrow-next
					right 50px

	.content-slider
		display block

		.content-slider-item
			width 100%

			.content-slider-img-container
				display flex

				&-w1
					width 40%
					img
						display block
						width 100%
						height 100%
						object-fit cover

				&-w2
					width 60%

					img
						display block
						width 100%
						height 100%
						object-fit cover

			img
				display block
				width 100%

/** //page text **/

/** mobile menu **/
body.open-menu
	.lang-bar--white
		.lang-bar-item
			&:hover
				color #000

	.header-burger--red
		&:before
		&:after
		.header-burger-inner
			background #fff
	.header-logo
		opacity 0

.mobile-menu
	position fixed
	left 0
	right 0
	top 0
	bottom 0

	display none

	z-index 500

	.mobile-menu-background
		position fixed
		top 0px
		right 0
		left 0
		bottom 0
		display block
		width 100%
		height 100%

		background $colorred

		transform translateY(-100%)

		opacity 0

		transition transform 0.6s $transitionAnimation, opacity 0.3s $transitionAnimation
		transition-delay 0.3s

	&.active-block
		display block
		overflow-y auto

		.mobile-menu-container
			.mobile-menu-container-holder
				display block

	&.active-show

		.mobile-menu-background
			transform translateY(0)
			opacity 1
			transition-delay 0s

		.mobile-menu-container
			.mobile-menu-container-holder
				transform translateY(0)
				opacity 1

				transition-delay 0.4s

	.mobile-menu-container
		.mobile-menu-container-holder
			position relative
			display none

			padding-left 150px
			box-sizing border-box

			transform translateX(-50px)

			transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation
			transition-delay 0s

			opacity 0

		.page-footer
			position absolute
			bottom 0

			.footer-social
				.footer-social-item
					svg
						path:not([fill=none])
							fill #fff

					&:hover
						svg
							path:not([fill=none])
								fill #000

.mobile-menu-holder
	.mobile-menu-holder-item-holder
		margin-bottom 50px

		.mobile-menu-holder-item
			line-height 1
			letter-spacing 4px
			font-size 72px
			font-family  "NarrowMedium"

/** //mobile menu **/

/*** //main style ***/

/*** page home ***/
.presentation
	.presentation-logo
		width 100%
		max-width 180px
		margin 0 auto 25px auto

	.presentation-title
		display block
		width 100%
		max-width 420px

		margin 0 auto

		text-align center
		line-height 65px

		color #fff

body.home-page
	height 100%
	min-height 100vh

	background-image url("../dummy/main.png")
	background-repeat no-repeat
	background-size cover
	background-position center
	z-index -20

	&:after
		content ""
		position fixed
		top 0
		left 0
		right 0
		bottom 0

		display block
		width 100%
		min-height 100%

		background rgba(#000000, 0.7)

		z-index -10

	.page-footer
		margin-top -60px

	.page
		margin-bottom 0

/*** //page home ***/


/*** about home ***/
/*** //about home ***/
