/*** desktop ***/
@media screen and (max-width: 1680px)
    .mobile-menu
        .page-header
            padding 25px

@media screen and (max-width: 1280px)
    .mobile-menu
        .page-footer
            padding 0 35px 15px 30px

    .mobile-menu-holder
        .mobile-menu-holder-item-holder
            margin-bottom 5px

    .page-inner
        &--w2
            max-width 775px
            padding-left 65px

    .tour
        right -170px

        .tour-container
            margin-right 5px
/*** //desktop ***/

/*** tablet ***/
@media screen and (max-width: 1136px)

    .mobile-menu
        .mobile-menu-container
            .mobile-menu-container-holder
                padding-left 135px

    .mobile-menu-holder
        .mobile-menu-holder-item-holder
            .mobile-menu-holder-item
                font-size 64px


        .mobile-menu-container
            .mobile-menu-container-holder
                padding-left 60px

    .presentation
        .presentation-logo
            max-width 140px

        .presentation-title
            font-size 64px
            letter-spacing 3.5px

    .page-text
        h1
            margin-bottom 40px
            letter-spacing 3.5px
            font-size 64px

        figure
            margin 95px 0 40px 0

        p
            font-size 16px
            line-height 24px

        .text-date
            margin-bottom 30px
            font-size 16px
            line-height 1

        .content-slider-container
            margin-top 35px
            margin-bottom 40px

        .backward
            margin-top 50px

        dl
            dt
                font-size 16px

            dd
                font-size 16px
                text-align right

    .tour
        position relative
        top auto
        right auto

@media screen and (max-width: 1024px)
    .page
        margin-bottom 90px

    body.home-page
    body.home_video-page
        .page-footer--main
            padding 0 35px 20px 30px

        .background-video
            display none

    .page-header
        padding 25px 30px 90px 30px

    .page-inner
        &--w0
            max-width 940px
        &--w1
            max-width 780px

    .chefs
        margin-top 95px

        .chefs-container-img
            max-width 64%

        .chefs-holder
            &--reverse
                .chefs-container-info
                    padding-right 3%

        .chefs-container-info
            max-width 35%
            padding-left 4%

            .chefs-name
                margin-bottom 20px

                letter-spacing 2.5px
                font-size 44px

            .chefs-position
                font-size 16px

            .chefs-desc
                line-height 24px
                font-size 16px

    .menu
        grid-template-rows minmax(auto, 355px)
        grid-gap 0 4%
        margin-top 65px

    .menu-item
        .menu-name
            white-space nowrap
            font-size 54px

    .news
        margin-top 65px

    .news-item
        margin-bottom 90px

        .news-item-container-img
            max-width 55%

        .news-item-container-info
            max-width 44%
            width auto

            .news-item-title
                margin-bottom 20px
                font-size 44px
                letter-spacing 2.5px

            .news-item-date
                margin-bottom 20px

            .news-item-text
                margin-bottom 25px
                font-size 16px
                line-height 24px

    .contacts
        margin-top 70px

    .contacts-location
        .contacts-city
            font-size 16px
            margin-bottom 18px

        .contacts-street
            font-size 16px
            margin-bottom 18px

        .contacts-mobile
            font-size 16px

    .contacts-mode
        .contacts-mode-text
            font-size 16px

    .form
        .form-title
            font-size 44px

            &--big
                font-size 64px

    .map-container
        margin-top 15px
        margin-bottom 60px
        height 570px

    .form-step-container
        .lazy-modal-container
            max-width 635px

        .form-success
            margin-top 150px

    .form-container
        .form-icon
            margin 0 auto 12px auto

    .form-row
        &-w65
            width 61%
        &-w25
            width 30%
        &-w30
            width 40%
        &-w70
            width 56%
        &--button
            margin-top 35px

    .form-steps
        .privacy-policy
            padding-left 10px

    .form-success
        .form-success-social
            margin-top 65px

            .form-success-social-list
                margin-top 25px

@media screen and (max-width: 965px)
    .page-inner
        &--w0
            max-width 940px
        &--w1
            max-width 780px
        &--w2
            max-width 450px
            padding-left 0

    .news-item

        margin-bottom 25px

        flex-flow column

        .news-item-container-img

            max-width 100%

        .news-item-container-info
            padding 40px 0
            max-width 100%

@media screen and (max-height: 450px)
    .mobile-menu
        .mobile-menu-container
            .page-footer
                position relative

            .mobile-menu-container-holder
                position relative
                top 0
                transform translateY(0)
                margin-bottom 20px
                padding-left 25px

@media screen and (max-width: 800px)
    body.home-page
    body.home_video-page
        .page-content
            margin-top 0

    .page-content
        margin-top 250px

    .presentation

        .presentation-title
            font-size 38px
            line-height 44px

    .header-logo
        .header-logo-title
            display block
            width auto
            max-width 200px

    .page-footer--main
        padding  25px 30px 30px 30px

    .mobile-menu
        .mobile-menu-container
            .mobile-menu-container-holder
                padding-left 65px


    .page-text
        h1
            margin-bottom 20px
            font-size 54px
            line-height 64px

        .content-slider-container
            margin-top 0
            margin-bottom 25px

            .content-slider-arrows
                display none
                .slick-arrow-prev
                    left 20px

                .slick-arrow-next
                    right 20px

            &--big
                max-height 250px

                .content-slider
                    .content-slider-item
                        img
                            width 100%
                            max-height 250px
                            object-position center
                            object-fit cover

    .page-inner
        &--w2
            max-width 100%
            padding 0 25px

        &--w0
            max-width 100%
            padding 0px

/*** //tablet ***/

/*** mobile ***/
@media screen and (max-width: 690px)
    .page
        margin-bottom 70px

    .page-content
        margin-top 0

    .presentation
        margin-top 45px

        .presentation-logo
            margin 0 auto 15px auto

    // стили на всех старницах
    .page-header--main
        flex-flow row-reverse
        padding 25px 25px 0px 25px

        .header-booking
            display none

        .lang-bar
            display none

    .header-logo
        display none

        &--horizotal
            top -6.5px
            position inherit
            display block

    .page-footer--main
        flex-flow column-reverse

        .footer-holder:first-child
            max-width 190px

        .footer-holder:last-child
            max-width 150px
            margin-bottom 25px
            margin-left -7px

            .footer-social-item
                margin-right 0

            .footer-social-item:last-child
                max-width 38px


    // стили на главной
    body.home-page
    body.home_video-page
        .page-header--main
            .lang-bar
                display block

        .page-footer
            padding 0 20px 40px 20px

            &--main
                justify-content center
                padding-bottom 20px

                .footer-holder
                    max-width auto
                    text-align center

                    &:first-child
                        max-width 100%

                    &:last-child
                        display none
                        max-width 100%
                        margin-bottom 0

                .footer-mobile
                    margin 0 auto

                .footer-location
                    padding-right 0

                .footer-holder
                    &:last-child
                        display none

    .mobile-menu
        .mobile-menu-container
            .page-header
                padding 25px 25px 10px 25px
                flex-flow column-reverse

                .lang-bar
                    margin-top 15px
                    text-align left

            .page-footer
                position relative
                padding 0 20px 5px 25px
                flex-flow column-reverse

                .footer-holder:first-child
                    max-width 180px
                    line-height 28px

                .footer-holder:last-child
                    max-width 150px
                    margin-bottom 15px
                    margin-left -7px

                    .footer-social-item
                        margin-right 0

                    .footer-social-item:last-child
                        max-width 38px


            .mobile-menu-container-holder
                position relative
                top 0
                transform translateY(0)
                margin-bottom 35px
                margin-top 20px
                padding-left 25px

    .mobile-menu-holder
        .mobile-menu-holder-item-holder
            .mobile-menu-holder-item
                font-size 46px
                line-height 42px

    .page-text
        figure
            margin 25px 0

        dl
            dt
                font-size 12px

    .chefs
        margin-top 30px

        .chefs-holder
            margin-bottom 20px
            flex-flow column

            &--reverse
                .chefs-container-info
                    max-width 100%
                    width 100%
                    padding 25px 20px

        .chefs-container-img
            max-width 100%

        .chefs-container-info
            max-width 100%
            width 100%
            padding 25px 20px

            .chefs-name
                margin-bottom 25px
                font-size 54px
                letter-spacing 3px

            .chefs-position
                margin-bottom 25px

    .page-inner
        &--max30
            padding 0 20px

    .menu
        grid-template-columns 1fr
        grid-template-rows repeat(3, 395px)
        grid-gap 15px 0

    .news
        margin-top 0

    .news-holder
        margin-bottom 40px

    .news-item
        margin-bottom 25px

        .news-item-container-info
            padding 25px 0px

            .news-item-title
                font-size 54px

            .news-item-date
                margin-bottom 12px

    .contacts
        max-width 315px
        grid-template-columns 1fr
        grid-gap 55px 0

        margin-top -25px

    .map-container
        margin-top 25px
        margin-bottom 20px

    .form
        .form-title
            font-size 54px

    .form-row
        margin-bottom 30px
        flex-flow column
        justify-content flex-start
        align-items flex-start

        &-w25
            width 180px
            margin-top 30px

        &-w65
            width 100%

        &-w30
            width 100%

        &--button
            flex-flow row
            align-items center

            .form-row-w30
                width 70%

            .form-row-w70
                width 30%

            .form-step-text
                text-align right

        .button
            width 100%

    .form-steps
        .privacy-policy
            width 100%
            padding 0

            margin-bottom 30px

        .form-step
            margin-top 40px

    .form-step-container
        .form-success
            margin-top 30px

        .form-steps
            .form-result
                margin-bottom 30px

                .form-result-text
                    margin-bottom 20px
                .form-result-info
                    line-height 25px

    .form-success
        .form-success-social
            margin-top 50px
            .form-success-social-list
                .form-success-social-item
                    max-width 65px
                    height 45px

    .form-row--button
        .form-row--relative
            display flex
            flex-flow column-reverse

    .form-step-container
        .lazy-modal-container
            margin-top 0

        .lazy-modal-close
            display none

            &.lazy-modal-close-mobile
                display block

@media screen and (max-height: 640px)
    .form-step-container
        .form-success
            margin-top 50px

    .mobile-menu-holder
        .mobile-menu-holder-item-holder
            margin-bottom 10px

    .presentation
        .presentation-logo
            max-width 100px

@media screen and (max-height: 710px)
    body.home-page
    body.home_video-page
        .page-header--main
            padding 25px 25px 0px 25px

    .presentation
        .presentation-logo
            max-width 130px

@media screen and (max-height: 440px)
    .presentation
        margin-top 0
        .presentation-logo
            max-width 70px
            margin 0 auto 0 auto

        .presentation-title
            font-size 30px
            line-height 30px

@media screen and (max-width: 375px)
    .presentation
        .presentation-logo
            max-width 100px

    .header-booking
        margin-bottom 5px
/*** //mobile ***/
