/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)
$colorred = #BD1D1D

/* fonts */

@font-face
	font-family "NarrowMedium"
	src url("../fonts/Narrow.woff") format("woff")

@font-face
	font-family "PTM55F"
	src url("../fonts/PTM55F.woff") format("woff")

@font-face
	font-family "PTMonoBold"
	src url("../fonts/PTMono-Bold-01.woff") format("woff")

@font-face
	font-family "PTMonoRegular"
	src url("../fonts/PTMono-Regular-02.woff") format("woff")

@font-face
	font-family "RistrettoProExtraLight"
	src url("../fonts/RistrettoPro-ExtraLight.woff") format("woff")

@font-face
	font-family "RistrettoProRegular"
	src url("../fonts/Ristrettopro-regular.woff") format("woff")

@font-face
	font-family "RistrettoProMedium"
	src url("../fonts/RistrettoPro-Medium.woff") format("woff")

@font-face
	font-family "RistrettoProSemiBold"
	src url("../fonts/RistrettoPro-SemiBold.woff") format("woff")

/* //fonts */

/** animation **/

@keyframes beforeBurger
	0%
		top 0px
		transform rotate(0)
	25%
		top 9px
		transform rotate(0)
	75%
		top 9px
		transform rotate(45deg)
	100%
		top 9px
		transform rotate(45deg)

@keyframes afterBurger
	0%
		bottom 0px
		transform rotate(0)
	25%
		bottom 9px
		transform rotate(0)
	75%
		bottom 9px
		transform rotate(-45deg)
	100%
		bottom 9px
		transform rotate(-45deg)

@keyframes beforeBurgerInit
	0%
		top 9px
		transform rotate(45deg)
	25%
		top 9px
		transform rotate(0deg)
	75%
		top 0px
		transform rotate(0deg)
	100%
		top 0px
		transform rotate(0deg)

@keyframes afterBurgerInit
	0%
		bottom 9px
		transform rotate(45deg)
	25%
		bottom 9px
		transform rotate(0deg)
	75%
		bottom 0px
		transform rotate(0deg)
	100%
		bottom 0px
		transform rotate(0deg)
/** //animation **/

html
	height 100%
body
	position relative
	width 100%
	height 100%
	min-height 100vh
	line-height 1
	cursor default
	font-family "PTMonoRegular"

	transition background-size 3s $transitionAnimation

	&.open-menu
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		overflow hidden
		height 100%
		-webkit-overflow-scrolling touch

	.background-video
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		width 100%
		height 100%

		z-index -20

/*** //Settings ***/


/*** main style ***/
.page
	display block
	width 100%

	min-height 100%

	margin 0 auto

	margin-bottom 155px

.page-inner
	position relative
	display block
	margin 0 auto
	box-sizing border-box

	&--w0
		max-width 1300px
		padding 0 80px
		box-sizing border-box

	&--w1
		max-width 1150px

	&--w2
		max-width 900px

	&--w3
		max-width 780px

	&--w4
		max-width 660px

	&--max
		min-width 100%

	&--max30
		max-width 100%
		padding 0 30px
		box-sizing border-box

	&--top
		margin-top 50px

	&--nopadding
		padding 0
/** button and link **/

.link
	text-decoration none
	color #000

.link--red
	color $colorred

.link--white
	color #fff

.link--red-bottom
	display inline
	box-shadow inset 0 1px #fff, inset 0 -1px $colorred
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px #fff, inset 0 -1px transparent

.link--red-bottom-reverse
	display inline
	box-shadow inset 0 1px transparent, inset 0 -1px transparent
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px transparent, inset 0 -1px $colorred

.link--white-bottom
	display inline
	box-shadow inset 0 1px transparent, inset 0 -1px transparent
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px transparent, inset 0 -1px #fff

.link--white-bottom-reverse
	display inline
	box-shadow inset 0 1px transparent, inset 0 -1px #fff
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px transparent, inset 0 -1px transparent

.link--black-bottom
	display inline
	box-shadow inset 0 1px transparent, inset 0 -1px #000
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px transparent, inset 0 -1px transparent

.link--black-bottom-reverse
	display inline
	box-shadow inset 0 1px transparent, inset 0 -1px transparent
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 1px transparent, inset 0 -1px #000

.button
	position relative
	display inline-block
	padding 5px

	box-sizing border-box
	text-align center

	transition opacity 0.3s $transitionAnimation, transform 0.5s $transitionAnimation, border 0.2s $transitionAnimation, background 0.3s $transitionAnimation

	border-radius 5px

	&--white
		border 2px solid #fff
		background transparent
		color #fff

		&:hover
			border-color $colorred
			background $colorred

	&--white-left
		border 2px solid #fff
		background transparent
		color #fff
		overflow hidden

		&:before
			content ""
			position absolute
			top 0
			left 0
			bottom 0

			display block
			width 100%
			height 100%
			background #fff

			transform translateX(-100%)

			transition transform 0.4s $transitionAnimation

			z-index -1

		&:hover
			border 2px solid #fff
			color $colorred

			&:before
				transform translateX(0)

	&--red
		border 2px solid $colorred
		background: transparent
		color $colorred

		&:hover
			border-color #fff
			background #fff

	&--red-left
		border 2px solid $colorred
		background transparent
		color $colorred
		overflow hidden

		&:before
			content ""
			position absolute
			top 0
			left 0
			bottom 0

			display block
			width 100%
			height 100%
			background $colorred

			transform translateX(-100%)

			transition transform 0.4s $transitionAnimation

			z-index -1

		&:hover
			border 2px solid $colorred
			color #fff

			&:before
				transform translateX(0)

/** //button and link **/

/** form **/
.form-container
	.form
		max-width 100%

	.form-icon
		display block
		width 65px
		margin 0 auto 20px auto

.form
	display block
	max-width 540px

	.form-title
		margin-bottom 40px

		letter-spacing 3px

		font-size 56px
		font-family "NarrowMedium"

		color $colorred

		&--big
			font-size 72px
			margin-bottom 30px
			text-align center
.form-row
	display flex
	justify-content space-between
	align-items center

	margin-bottom 45px

	&-w25
		width 25%

	&-w30
		width 30%

	&-w40
		width 40%

	&-w60
		width 60%

	&-w65
		width 65%

	&-w70
		width 70%

	&-w80
		width 80%

	&-w100
		width 100%

	&--relative
		position relative

	&--button
		margin-top 55px

	.form-label
		display block
		margin-bottom 15px

		cursor pointer

		.form-label-text
			font-size 18px

	.button
		max-width 100%

		padding 17px 43px

		letter-spacing 2px

		font-weight bold
		font-size 20px

		text-transform uppercase


	.form-holder
		position relative

		label.error
			position absolute
			display block
			bottom -20px

			font-size 14px
			color $colorred

		.jcf-select-form-item--select
			position relative
			display block
			width 100%
			min-height 52px
			padding 15px 25px
			box-sizing border-box

			border 2px solid $colorred
			border-radius 5px

			font-size 18px
			font-family "PTMonoRegular"

			background #fff

			cursor pointer
			transition background 0.3s $transitionAnimation

			.jcf-select-opener
				position absolute
				top 54%
				right 15px
				display block
				width 20px
				height 11px

				background-image url("../svg/arrow_form_bottom.svg")
				background-size contain
				background-repeat no-repeat

				transform translateY(-50%)
				transition background-image 0.3s $transitionAnimation

			.jcf-select-text
				color #202020

			&.jcf-drop-active
			&:hover
				background #f4f4f4

				.jcf-select-opener
					background-image url("../svg/arrow_form_bottom_red.svg")

			&.jcf-select-error
				background-color #ecc7c7

.jcf-select-form-item--select
	&.jcf-select-drop
		z-index 200000

		.jcf-select-drop-content
			border 2px solid $colorred
			border-radius 5px

			background #fff

			.jcf-list
				display block
				padding 15px 10px 15px 25px
				box-sizing border-box

			.jcf-list-content
				display block

			.jcf-scrollbar-vertical
				display block
				top 0
				right 0
				bottom 0

				.jcf-scrollbar-slider
					width 5px
					height 100%

					.jcf-scrollbar-handle
						width 100%
						max-height 100%

						border-radius 5px
						background-color #cecece

		.jcf-list-content
			ul
				li
					transition color 0.3s $transitionAnimation
					cursor pointer

					color #202020

					&:last-child
						margin-bottom 0

					&:hover
						color $colorred

					.jcf-option
						display block

						padding 10px 0
						box-sizing border-box

						&-hideme
							display none
.jcf-number
	display flex
	justify-content space-between

	.jcf-btn-inc
		position relative
		display block
		width 33%
		order 3


		border 2px solid #bd1d1d
		border-top-right-radius 5px
		border-bottom-right-radius 5px
		border-left none

		background #fff

		cursor pointer

		&:before
			position absolute
			top 50%
			left 50%

			content ""
			display block
			width 15px
			height 2px

			margin-top -1px
			margin-left -7.5px

			background-color #000

			transition background-color 0.3s $transitionAnimation

		&:after
			position absolute
			top 50%
			left 50%

			content ""
			display block
			width 2px
			height 15px

			margin-top -7.5px
			margin-left -1px

			background-color #000

			transition background-color 0.3s $transitionAnimation

		&:hover
			&:after
			&:before
				background-color $colorred

	.form-item
		width 33%
		order 2
		padding 15px
		text-align center
		border-radius 0

	.jcf-btn-dec
		position relative
		display block
		width 33%
		order 1

		border 2px solid #bd1d1d
		border-top-left-radius 5px
		border-bottom-left-radius 5px
		border-right none

		background #fff

		cursor pointer

		&:before
			position absolute
			top 50%
			left 50%

			content ""
			display block
			width 15px
			height 2px

			margin-top -1px
			margin-left -7.5px

			background-color #000

			transition background-color 0.3s $transitionAnimation

		&:hover
			&:before
				background-color $colorred
.form-row
	.form-holder
		.jcf-number
			label.error
				bottom -35px

.form-item
	display block
	width 100%
	padding 15px 25px
	box-sizing border-box

	border 2px solid $colorred
	border-radius 5px

	font-size 18px
	font-family "PTMonoRegular"

	color #202020

	background #fff

	transition background 0.3s $transitionAnimation

	&--textarea
		resize none

	&--number
	 	-moz-appearance textfield
		&::-webkit-inner-spin-button
		&::-webkit-outer-spin-button
			-webkit-appearance none
			margin 0

	&.error
		background-color #ecc7c7

	&:hover
		background #f4f4f4

/* style for form step */
.form-steps
	transition transform 0.5s $transitionAnimation, opacity 0.3s $transitionAnimation

	&.preload
		opacity 0
		transform translateY(50px)

	.form-step-text
		display block

		&--center
			text-align center

	.form-step
		margin-top 60px

		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.hide-show
			opacity 0
			transform translateY(-10px)

		&.disabled
			display none

		.form-back
			display block
			text-align center

			.form-back-item
				font-size 18px

	.form-result
		display block
		margin 45px 0

		.form-result-text
			display block
			margin-bottom 25px
			color #000

		.form-result-info
			display block
			color $colorred

	.privacy-policy
		width 50%
		padding-top 8px
		box-sizing border-box

		float right
		vertical-align top

		font-size 14px
		line-height 18px


.form-step-container
	.lazy-modal-container
		max-width 680px
		background-color $colorred

	.lazy-modal-close
		width 20px
		height 20px
		right 35px
		top 35px

	.form-container
		.form-icon
			svg
				path
					fill #fff

	.form
		.form-title
			color #fff

	.form-steps
		.form-step-text
			color #fff

		.form-result
			.form-result-text
				color #fff

			.form-result-info
				color #000

		.privacy-policy
			.link
				color #fff
				box-shadow inset 0 1px transparent, inset 0 -1px transparent
				transition box-shadow 0.3s $transitionAnimation

				&:hover
					box-shadow inset 0 1px transparent, inset 0 -1px #fff


	.form-row
		.form-label
			.form-label-text
				color #fff

		.button
			border-color #fff
			background $colorred
			color #fff

			font-family "PTMonoRegular"

			&:hover
				background #fff
				color $colorred

		.form-holder
			.jcf-select-form-item--select
				&.jcf-select-error
					border-color #000
					background-color #fff

			.jcf-number
				label.error
					color #000
		label.error
			color #000

	.form-item
		&.error
			border-color #000
			color #000
			background-color #fff


	.form-success
		margin-top 230px

		.page-text
			h1
				color #fff
			p
				color #fff

		.form-success-social

			.form-success-social-list

				.form-success-social-item

					svg
						path:not([fill=none])
							fill #fff

.form-close
	position absolute
	width 20px
	height 20px
	top 0
	left 0
	right 0
	bottom 0
	background-image url(../svg/close.svg)
	background-position center
	background-repeat no-repeat
	background-size contain

.lazy-modal-container
	transform translateY(-50px)
	transition all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	transition-delay 0s

.lazy-modal.lazy-modal--show .lazy-modal-container
	transform translateY(0)
	transition-delay 0.3s

.lazy-modal-background
	transition-delay 0.3s

.lazy-modal.lazy-modal--show .lazy-modal-background
	transition-delay 0s


.form-success
	text-align center

	.page-text
		h1
			margin-bottom 25px
		p
			margin-bottom 10px

	.form-success-social
		margin-top 120px

		.form-success-social-list
			display grid
			grid-template-columns 1fr 1fr 1fr 1fr

			max-width 400px
			margin 0 auto

			margin-top 50px

			.form-success-social-item
				display block
				max-width 100px
				height 60px

				svg
					display block
					width 100%
					height 100%

					path:not([fill=none])
						fill $colorred
						transition fill 0.3s $transitionAnimation

				&:hover
					svg
						path:not([fill=none])
							fill #000


/* //style for form step */

/** //form **/


/** header and footer **/

.page-header
	display flex
	justify-content space-between

	width 100%

	padding 25px 35px 90px 30px
	box-sizing border-box

.header-holder
	position relative
	z-index 200

	&--fixed
		z-index 501

.header-burger
	position relative
	display block
	width 30px
	height 20px

	cursor pointer

	transition transform 0.3s $transitionAnimation

	.header-burger-inner
		position absolute
		top 8.5px
		left 0
		right 0

		display block
		width 100%
		height 2px
		transition background-color 0.3s $transitionAnimation, transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&:before
		content ""

		position absolute
		top 0
		left 0
		right 0

		display block
		width 100%
		height 2px

		transition background-color 0.3s $transitionAnimation

	&:after
		content ""

		position absolute
		left 0
		bottom 0
		right 0

		display block
		width 100%
		height 2px

		transition background-color 0.3s $transitionAnimation

	&--white
		&:before
		&:after
		.header-burger-inner
			background-color #fff

	&--red
		&:before
		&:after
		.header-burger-inner
			background-color $colorred

	&:hover
		&:before
		&:after
		.header-burger-inner
			background-color $colorred

	&.active
		z-index 100

		&:before
			animation beforeBurger 0.5s $transitionAnimation forwards

		&:after
			animation afterBurger 0.5s $transitionAnimation forwards

		.header-burger-inner
			transform scale(0)

		&--hover
			&:hover
				transform rotate(90deg)

				&:before
				&:after
				.header-burger-inner
					background-color #fff
	&.close
		&:before
			animation beforeBurgerInit 0.5s $transitionAnimation forwards

		&:after
			animation afterBurgerInit 0.5s $transitionAnimation forwards

		.header-burger-inner
			transform scale(1)

.header-logo
	position absolute
	top 45px
	left 0

	.header-logo-home
		display block
		width 130px
		margin-bottom 17px

		svg
			display block
			width 100%
			height 100%

	.header-logo-title
		padding-right 20px
		box-sizing border-box

		font-size 24px
		font-family "RistrettoProRegular"

		color $colorred

	&--horizotal
		display none

		.header-logo-home
			width auto
			max-width 200px

.header-booking
	width 100%
	max-width 210px
	height 45px
	padding 11px 19px

	margin-bottom 20px

	text-transform uppercase

	font-family "RistrettoProRegular"

	font-size 22px

	letter-spacing 2.5px

	z-index 100

.lang-bar
	text-align center

	.lang-bar-item
		display inline-block
		margin-right 10px

		vertical-align top

		box-sizing border-box

		font-size 22px
		font-family "RistrettoProRegular"

		transition color 0.3s $transitionAnimation

		&.delimiter
			position relative
			padding-right 18px

			&:after
				content "/"
				position absolute
				right 0
				top 0
				bottom 0

				font-size 22px

	&--white
		.lang-bar-item
			color #fff

			&:hover
				color $colorred

			&.delimiter
				&:after
					color #fff

	&--red
		.lang-bar-item
			color $colorred
			transition color 0.3s $transitionAnimation

			&:hover
				color #000


			&.delimiter
				&:after
					font-weight 300
					color $colorred

.page-footer
	display flex
	justify-content space-between
	align-content center

	width 100%

	padding 0 35px 25px 30px
	box-sizing border-box

	.footer-location
		display inline-block
		padding-right 5px
		box-sizing border-box
		vertical-align top

		font-size 22px
		font-family "RistrettoProRegular"

		text-transform uppercase

		letter-spacing 2.5px

		&--red
			color $colorred

		&--white
			color #fff

	.footer-mobile
		font-size 22px
		font-family "RistrettoProRegular"
		letter-spacing 2.5px
		white-space nowrap
		&--red
			color $colorred

		&--white
			color #fff

	.footer-social
		display flex
		justify-content space-between

		.footer-social-item
			display block
			margin-right 15px
			max-width 40px
			height 25px

			&:last-child
				margin-right 0

			svg
				display block
				width 100%
				height 100%

				path
					transition fill 0.3s $transitionAnimation

			&:hover
				svg
					path:not([fill=none])
						fill $colorred

		&--red
			.footer-social-item
				svg
					path:not([fill=none])
						fill $colorred

				&:hover
					svg
						path:not([fill=none])
							fill #000
.footer-holder
	position relative
	z-index 200

/** //header and footer **/

/** page text **/

.load
	position relative
	width 100%
	height 45px
	text-align center

	.load-more
		position absolute

		left 50%
		margin-left -25px

		display block
		width 45px
		height 45px

		cursor pointer

		transition transform 0.3s $transitionAnimation

		&:hover
			transform rotate(360deg)

		&:before
			content ""
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background-image url(../svg/circle-arrow.svg)
			background-repeat no-repeat
			background-size cover

		&.loading
			animation-name spin
			animation-duration 300ms
			animation-iteration-count infinite
			animation-timing-function linear

.page-text
	font-size 18px
	line-height 28px

	h1
		margin-bottom 60px

		line-height 1
		font-family "NarrowMedium"
		font-size 72px

		letter-spacing 4px

		text-transform uppercase

		color $colorred

	p
		line-height 28px
		margin-bottom 15px
		font-size 18px
		max-width 660px

	.content-slider-container
		position relative
		margin-top 80px
		margin-bottom 80px

		&--big
			max-height 650px

			.content-slider
				.content-slider-item
					position relative
					min-height 100%
					img
						width auto
						height 650px

		.content-slider-arrows
			position absolute
			top 50%
			transform translateY(-50%)
			display block
			width 100%

			.slick-arrow
				position absolute

				display block
				width 35px
				height 35px

				padding 5px
				box-sizing border-box

				background-color #fff

				border 2px solid $colorred

				border-radius 5px

				transition background 0.3s $transitionAnimation

				cursor pointer

				&-prev
					left -60px

				&-next
					right -60px

				svg
					display block
					width 100%
					height 100%

					path
						transition fill 0.3s $transitionAnimation

				&:hover
					background $colorred

					svg
						path
							fill #fff

			&--max
				z-index 10
				.owl-prev
				.owl-next
					position absolute

					display block
					width 35px
					height 35px

					padding 5px
					box-sizing border-box

					background-color #fff

					border 2px solid $colorred

					border-radius 5px

					transition background 0.3s $transitionAnimation

					cursor pointer

					svg
						display block
						width 100%
						height 100%

						path
							transition fill 0.3s $transitionAnimation

					&:hover
						background $colorred

						svg
							path
								fill #fff

				.owl-prev
					left 50px

				.owl-next
					right 50px

	.content-slider
		display block

		opacity 0
		transform scale(0.98)

		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation
		transition-delay 0.8s

		&.slick-initialized
			opacity 1
			transform scale(1)

		&.owl-drag
			opacity 1
			transform scale(1)

		.content-slider-item
			width 100%
			cursor pointer

			.content-slider-img-container
				display flex

				&-w1
					width 40%
					img
						display block
						width 100%
						height 100%
						object-fit cover

				&-w2
					width 60%

					img
						display block
						width 100%
						height 100%
						object-fit cover

			img
				display block
				width 100%

	figure
		width 100%
		margin 70px 0 70px 0

		img
			display block
			width 100%

	.date-text
		margin-top 55px
		margin-bottom 40px

		font-size 16px

	.backward
		font-size 16px
		display inline-block
		margin-top 70px

	dl
		display grid
		grid-template-columns 1fr 1fr
		grid-gap 10px 0

		dt
			white-space nowrap
			font-size 18px
		dd
			white-space nowrap
			font-family "PTMonoBold"

/** //page text **/

/** mobile menu **/

body.open-menu
	.lang-bar--white
		.lang-bar-item
			&:hover
				color #000

	.header-burger--red
		&:before
		&:after
		.header-burger-inner
			background #fff
	.header-logo
		opacity 0

.mobile-menu
	position fixed
	left 0
	right 0
	top 0
	bottom 0

	display none

	z-index 500

	.mobile-menu-background
		position fixed
		top 0px
		right 0
		left 0
		bottom 0
		display block
		width 100%
		height 100%

		background $colorred

		transform translateY(-100%)

		opacity 0

		transition transform 0.6s $transitionAnimation, opacity 0.3s $transitionAnimation
		transition-delay 0.3s

	&.active-block
		display block
		overflow-y auto

		.mobile-menu-container
			display block

	&.active-show

		.mobile-menu-background
			transform translateY(0)
			opacity 1
			transition-delay 0s

		.mobile-menu-container
			transform translateY(0)
			opacity 1

			transition-delay 0.4s

	.mobile-menu-container
		position relative

		display none
		height 100%

		transform translateX(-50px)

		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation
		transition-delay 0s

		opacity 0

		.mobile-menu-container-holder
			position absolute
			top 50%

			transform translateY(-50%)

			padding-left 150px
			box-sizing border-box

		.page-footer
			position absolute
			bottom 0

			.footer-social
				.footer-social-item
					svg
						path:not([fill=none])
							fill #fff

					&:hover
						svg
							path:not([fill=none])
								fill #000

.mobile-menu-holder
	.mobile-menu-holder-item-holder
		margin-bottom 50px

		.mobile-menu-holder-item
			line-height 1
			letter-spacing 4px
			font-size 72px
			font-family  "NarrowMedium"

/** //mobile menu **/

/*** //main style ***/



/*** page home ***/

.presentation
	.presentation-logo
		width 100%
		max-width 180px
		margin 0 auto 25px auto

	.presentation-title
		display block
		width 100%
		max-width 420px

		margin 0 auto

		text-align center
		line-height 65px

		color #fff

body.home-page
body.home_video-page
	z-index -20

	&.animate
		background-size 150%

	&:after
		content ""
		position fixed
		top 0
		left 0
		right 0
		bottom 0

		display block
		width 100%
		min-height 100%

		background rgba(#000000, 0.7)

		z-index -10

	.page-footer--main
		position absolute
		bottom 0

	.page
		margin-bottom 0

	.header-logo
		display none

	.background-img
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background-repeat no-repeat
		background-size cover
		background-position center

		z-index -30

/*** //page home ***/


/*** team ***/

.chefs
	margin-top 120px

	.chefs-holder
		display flex
		justify-content space-between
		align-items center

		margin-bottom 140px

		&--reverse
			flex-flow row-reverse

			.chefs-container-info
				padding-left 0
				padding-right 5%


	.chefs-container-img
		max-width 70%

		img
			display block
			width 100%

	.chefs-container-info
		max-width 30%
		padding-left 5%
		box-sizing border-box

		.chefs-name
			margin-bottom 35px

			letter-spacing 3.5px

			font-size 54px
			font-family "NarrowMedium"

			color $colorred

		.chefs-position
			margin-bottom 45px
			font-size 18px
			text-transform lowercase

		.chefs-desc
			line-height 28px
			font-size 18px

/*** //team ***/


/*** menu ***/

.menu
	display grid
	grid-template-columns 1fr 1fr 1fr
	grid-template-rows minmax(auto, 450px)
	grid-gap 0 6%

	margin-top 80px

.menu-item
	position relative
	display block

	overflow hidden

	&:after
		content ""
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		display block
		width 100%
		height 100%

		background-color rgba(0, 0, 0, 0.65)

		z-index 100

		transition transform 0.6s $transitionAnimation, opacity 0.3s $transitionAnimation

	&:before
		content ""
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		display block
		width 100%
		height 100%

		background-color rgba(255, 255, 255, 0.65)

		transform translateY(-100%)

		z-index 200

		transition transform 0.6s $transitionAnimation, opacity 0.3s $transitionAnimation

	.menu-img
		position absolute
		top 0
		left 0
		bottom 0
		right 0

		display block
		width 100%
		height 100%

		object-fit cover

	.menu-name
		position absolute
		top 50%
		left 50%

		display inline-block

		padding-bottom 1px

		transform translate(-50%, -50%)

		font-size 60px
		font-family "NarrowMedium"

		letter-spacing 4px

		text-transform uppercase

		z-index 200

		color #fff

		border-bottom 1px solid #fff

		transition border-bottom 0.3s $transitionAnimation, color  0.3s $transitionAnimation

		white-space nowrap

	&:hover

		&:before
			transform translateY(0)

		&:after
			transform translateY(100%)

		.menu-name
			border-bottom-color $colorred
			color $colorred

/*** //menu ***/

/*** news ***/

.news
	margin-top 75px

.news-holder
	margin-bottom 90px

.news-item
	display flex
	justify-content space-between
	align-items flex-start

	margin-bottom 140px

	transition transform 0.3s $transitionAnimation

	.news-item-container-img
		max-width 47%

		img
			display block
			width 100%

	.news-item-container-info
		width 53%
		padding-left 5%
		box-sizing border-box

		.news-item-title
			margin-bottom 25px

			letter-spacing 3.5px

			font-size 56px
			font-family "NarrowMedium"

			color $colorred

		.news-item-date
			margin-bottom 30px

		.news-item-text
			margin-bottom 30px
			line-height 28px

	&:last-child
		margin-bottom 0

	&.load-events-item
		opacity 0
		transform translateY(100px)

/*** //news ***/


/*** contacts ***/
.contacts
	display grid
	grid-template-columns 1fr 1fr

.contacts-location
	.contacts-city
		display block
		font-size 18px
		margin-bottom 20px

	.contacts-street
		display block
		font-size 18px
		margin-bottom 20px

	.contacts-mobile
		font-size 18px

.contacts-mode
	.contacts-mode-text
		margin-bottom 15px
		font-size 18px

.map-container
	margin-top 90px
	margin-bottom 105px
	height 680px

	.map
		height 100%
/*** //contacts ***/
